.container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(201,196,162);
    background: linear-gradient(239deg, rgba(201,196,162,1) 9%, rgba(255,239,132,1) 77%);
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 100vh;
    background-color: #f1e9e9;
  
}
.register-label, .login-label{
    cursor: pointer;
    font-size: 1.8rem;
}

.register-label{
    position: relative;
    top:0;
}

.registration, .login{
    position: absolute;
    text-align: center;    
    transition: 1s ease-in-out;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 80vh;
    background-color: #ffef84;
}

.registration{
    top:-100%;
   
}


.registration input{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

.register-center{
    top: 50%;
    transform: translateY(-50%);
}

.register-out{
    top:-100%;

}

.register-button button{
    width: 150px;
    height: 35px;
    border-radius: 20px;
}

.login{
    bottom: -100%;
    
}

.login input{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

.login-button button{  
    width: 150px;
    height: 35px;
    border-radius: 20px;
}

.login-center{
    bottom: 50%;
    transform: translateY(50%);
}

.login-out{
    bottom: -100%;
}

.error{
    margin-top: 20px;
}

.welcome-out{
    visibility: hidden;
    transform: 1s ease-in-out;
}

@media (max-width: 767px){

    .card{
        width: 280px;
        padding: 40px;
    }

    .login-label, .register-label{
        font-size: 1.5rem;
    }

    .welcome{
        text-align: center;
        font-size: 0.7rem;
    }

    .registration, .login{
        width: 250px;
        height: 65vh;
    }

    .registration input{
        width: 150px;
        border-radius: 10px;
    }

    .register-button button{
        width: 100px;
        border-radius: 10px;
    }

    .login input{
        width: 150px;
        border-radius: 10px;
    }

    .login-button button{
        width: 100px;
        border-radius: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1023px){
    .card{
        width: 450px;
    }

    .login-label, .register-label{
        font-size: 1.5rem;
    }

    .welcome{
        text-align: center;
        font-size: 0.7rem;
    }

    .registration, .login{
        width: 350px;
    }

    .registration input{
        width: 250px;
        border-radius: 10px;
    }

    .register-button button{
        width: 150px;
        border-radius: 10px;
    }

    .login input{
        width: 250px;
        border-radius: 10px;
    }

    .login-button button{
        width: 150px;
        border-radius: 10px;
    }

}

@media (min-width: 1024px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: rgb(201,196,162);
        background: linear-gradient(239deg, rgba(201,196,162,1) 9%, rgba(255,239,132,1) 77%);
    }
    
    .card{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 500px;
        height: 100vh;
        background-color: #f1e9e9;
      
    }
    .register-label, .login-label{
        cursor: pointer;
        font-size: 1.8rem;
    }
    
    .register-label{
        position: relative;
        top:0;
    }
    
    .registration, .login{
        position: absolute;
        text-align: center;    
        transition: 1s ease-in-out;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 400px;
        height: 80vh;
        background-color: #ffef84;
    }
    
    .registration{
        top:-100%;
       
    }
    
    
    .registration input{
        width: 250px;
        height: 45px;
        border-radius: 20px;
        margin: 20px;
        text-align: center;
    }
    
    .register-center{
        top: 50%;
        transform: translateY(-50%);
    }
    
    .register-out{
        top:-100%;
    
    }
    
    .register-button button{
        width: 150px;
        height: 35px;
        border-radius: 20px;
    }
    
    .login{
        bottom: -100%;
        
    }
    
    .login input{
        width: 250px;
        height: 45px;
        border-radius: 20px;
        margin: 20px;
        text-align: center;
    }
    
    .login-button button{  
        width: 150px;
        height: 35px;
        border-radius: 20px;
    }
    
    .login-center{
        bottom: 50%;
        transform: translateY(50%);
    }
    
    .login-out{
        bottom: -100%;
    }
    
    .error{
        margin-top: 20px;
    }
    
    .welcome-out{
        visibility: hidden;
        transform: 1s ease-in-out;
    }
}